.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 133px;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 29px;
    z-index: 20;
}
.header__lang {
    display: flex;
    gap: 10px;
}

.header_Fr {
    font-size: 28px;
    color: white;
}
.header_En {
    font-size: 28px;
    color: white;
}

.header__menu {
    width: 42px;
    height: 28px;
    cursor: pointer;
}
