button
{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header__menu {
    filter: brightness(0) invert(1);
}


.formulaire_bouton {
  display: flex;
  align-items: center;
  background-color: var(--contact);
  padding: 0;
  padding-left: 12px;
  padding-right: 13px;
  width: 140px;
  height: 48px;
  margin-left: 228px;
  margin-right: 30px;
  border-radius: 15px;
}
