/* Carousel Container */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

/* Carousel container inner */
.carousel__container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 280px;
    scrollbar-width: none;
}

.carousel__container::-webkit-scrollbar {
    display: none;
}

/* Carousel items */
.carousel__item {
    flex: 0 0 auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.projet_img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    aspect-ratio: 1 / 1;
    background-color: #000000;
}

/* Carousel buttons */
.carousel__button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.carousel__button:hover {
    opacity: 0.7;
}

.carousel__button--prev{
    rotate: 180deg;
}

.carousel__button img {
    width: 32px;
    height: 32px;
    display: block;
    z-index: 2;
}


/* Link styling */
.projet_link {
    color: var(--typo);
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

.projet_link:hover {
    opacity: 0.7;
}
